h1,h2,h3,h4,h5{
	font-family: 'IBM Plex Sans', sans-serif;
	color:#2962FF;
	font-weight: bold;
}
#hero h1{
	font-size: 66px;
	color: #2962FF;
}
@media only screen and (max-width: 500px) {
	#hero h1 {
		font-size: 40px;
		color: #2962FF;
	}
  }
body{
	font-family: 'IBM Plex Sans', sans-serif;
}


#hero{
	background: url(../img/hero-map.jpg);
    background-size: cover;
	background-position: center;
	border-bottom: 14px solid #2962FF;
	height: 100%;
}

@media only screen and (max-width: 500px) {
	#alignNavbar{
		padding-right: 1rem;
	}
  }
  @media only screen and (min-width: 501px) {
	.nav-item{
		padding-right: 5rem;
	}
  }

.responsive{
	max-width: 540px;
	min-width: 100px;
	width: 100%;
	height: auto;
}

.group-grid{
	position: relative;
	top: 0;
	left: 0;
}
.group{
	position: relative;
	top: 0;
	left: 0;
}
.group-image {
	position: absolute;
	top: 30px;
	left: 70px;
  }

  .bg-white{
	  background-color: #FFFFFF;
  }